
<div class="cover">

<h2 class="addstore">Add your own business, or your favorite local one!</h2>

<form method="post" action="/addbusiness" class="flex-form">
<label>Name:</label>    <input class="formtext" type="text" name="name" placeholder="Enter Name.." required>
<label>Address:</label>      <input class="formtext" type="text" name="address" placeholder="Enter Address.." required>
<label>Price (1-5):</label>   <input class="formtext" type="text" name="pricerating" placeholder="Enter Price Rating.." required>
<label>Items:</label>   <input class="formtext" type="text" name="items" placeholder="Enter Items.." required>
<label>Store Type:</label>   <input class="formtext" type="text" name="storetype" placeholder="Enter Store Type.." required>

<input class="submit" type="submit" value="Add Store">
</form>
</div>
